/* background2   animation  start*/

@keyframes animate {
    0%{
        transform: translateY(-150px) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background2 {
    position: fixed;
    width: 100%;
    height: 120vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right bottom, #edd1e1, #dfd8f9, #bce3ff, #9befff, #9ff6df);
    overflow: hidden;
    z-index: -10;

}
.background2 div {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background:transparent;
    animation: animate 27s linear infinite;
    /* border-radius: 50%; */
    overflow: hidden;
}
.background2 div img{
    max-width: 90%;
    display: flex;
    align-items: center;
    border-radius: 30%;
}

.background2 div:nth-child(0) {
    left: 10%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: .5s;
}
.background2 div:nth-child(1) {
    left: 47%;
    width: 52px;
    height: 52px;
    bottom: -52px;
    animation-delay: 1s;
}
.background2 div:nth-child(2) {
    left: 22%;
    width: 92px;
    height: 92px;
    bottom: -92px;
    animation-delay: 7s;
}
.background2 div:nth-child(3) {
    left: 87%;
    width: 36px;
    height: 36px;
    bottom: -36px;
    animation-delay: 7s;
}
.background2 div:nth-child(4) {
    left: 4%;
    width: 30px;
    height: 30px;
    bottom: -30px;
    animation-delay: 15s;
}
.background2 div:nth-child(5) {
    left: 5%;
    width: 56px;
    height: 56px;
    bottom: -56px;
    animation-delay: 6s;
}
.background2 div:nth-child(6) {
    left: 38%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 2s;
}
.background2 div:nth-child(7) {
    left: 62%;
    width: 39px;
    height: 39px;
    bottom: -39px;
    animation-delay: 28s;
}
.background2 div:nth-child(8) {
    left: 38%;
    width: 37px;
    height: 37px;
    bottom: -37px;
    animation-delay: 34s;
}
.background2 div:nth-child(9) {
    left: 70%;
    width: 79px;
    height: 79px;
    bottom: -79px;
    animation-delay: 32s;
}
.background2 div:nth-child(10) {
    left: 0%;
    width: 80px;
    height: 80px;
    bottom: -80px;
    animation-delay: 2s;
}
.background2 div:nth-child(11) {
    left: 19%;
    width: 37px;
    height: 37px;
    bottom: -37px;
    animation-delay: 38s;
}
.background2 div:nth-child(12) {
    left: 29%;
    width: 57px;
    height: 57px;
    bottom: -57px;
    animation-delay: 27s;
}
.background2 div:nth-child(13) {
    left: 89%;
    width: 80px;
    height: 80px;
    bottom: -106px;
    animation-delay: .2s;
}
.background2 div:nth-child(14) {
    left: 57%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 57s;
}
.background2 div:nth-child(15) {
    left: 82%;
    width: 71px;
    height: 71px;
    bottom: -71px;
    animation-delay: 28s;
}